@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

#navbar {
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  height: 6rem;
}

#navbar .nav-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar .nav-container .logo, #navbar .nav-container #nav-btn i {
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

#navbar .nav-container #nav-btn {
  display: none;
}

#navbar .nav-container .nav-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#navbar .nav-container .nav-items li {
  margin-left: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#navbar .nav-container .nav-items li:hover a {
  color: orangered;
}

#navbar .nav-container .nav-items li a {
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#showcase {
  width: 100%;
  height: 100vh;
}

#showcase .img-con {
  height: 100%;
  width: 100%;
  position: relative;
}

#showcase .img-con img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#showcase .overlay {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.774);
  height: 100%;
  width: 100%;
}

#showcase .overlay h2 {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

#showcase .overlay p {
  font-size: 2.5rem;
  color: white;
  text-transform: capitalize;
}

#showcase .overlay p #line-change {
  color: orangered;
  text-transform: uppercase;
  font-weight: 700;
}

#showcase .overlay a {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5em 0.8em;
  color: white;
  background-color: orangered;
  border-radius: 1rem;
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#showcase .overlay a:hover {
  background-color: transparent;
  border-color: white;
}
/*# sourceMappingURL=file.css.map */