@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

body {
  position: relative;
}

#navbar {
  z-index: 100;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  height: 6rem;
}

#navbar .nav-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navbar .nav-container .logo, #navbar .nav-container #nav-btn i {
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

#navbar .nav-container #nav-btn {
  display: none;
}

#navbar .nav-container .nav-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#navbar .nav-container .nav-items li {
  margin-left: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

#navbar .nav-container .nav-items li:hover a {
  color: orangered;
}

#navbar .nav-container .nav-items li a {
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#showcase {
  width: 100%;
  height: 100vh;
  position: relative;
}

#showcase .img-con {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#showcase .img-con img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: zoom 3s linear infinite;
          animation: zoom 3s linear infinite;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  15% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

#showcase .overlay {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.774);
  height: 100%;
  width: 100%;
}

#showcase .overlay h2 {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
}

#showcase .overlay h2 span {
  color: orangered;
  font-weight: 700;
  font-size: 6rem;
}

#showcase .overlay .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#showcase .overlay .con p {
  font-size: 2.5rem;
  color: white;
  text-transform: capitalize;
  margin-right: 0.5rem;
}

#showcase .overlay .con #line-change {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid orangered;
  color: orangered;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  width: 0ch;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: type 4s infinite forwards;
          animation: type 4s infinite forwards;
}

@-webkit-keyframes type {
  0% {
    width: 0ch;
  }
  50% {
    width: 3.5ch;
  }
}

@keyframes type {
  0% {
    width: 0ch;
  }
  50% {
    width: 3.5ch;
  }
}

#showcase .overlay a {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5em 0.8em;
  color: white;
  background-color: orangered;
  border-radius: 1rem;
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#showcase .overlay a:hover {
  background-color: transparent;
  border-color: white;
}

.social-link {
  position: fixed;
  top: 35%;
  left: 0rem;
}

.social-link a {
  display: block;
  padding: 0.3em 0.6em;
  background: orangered;
  margin-bottom: 1rem;
  font-size: 3rem;
  border-radius: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-link a:nth-child(1):hover {
  background-color: blue;
}

.social-link a:nth-child(2):hover {
  background-color: #0101a0;
}

.social-link a:nth-child(3):hover {
  background-color: #067be9;
}

.social-link a i {
  color: white;
  font-size: 3rem;
  opacity: 1;
}

.popbox {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 500;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35rem;
  min-height: 50rem;
  height: auto;
  background-color: white;
  padding: 2rem;
  visibility: hidden;
}

.popbox label {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.popbox input {
  display: block;
  outline: none;
  width: 100%;
  border: 1px solid orangered;
  margin-bottom: 1rem;
  height: 4rem;
  padding: 0 1rem;
  border-radius: 1rem;
}

.popbox .log-logo {
  text-align: center;
  margin-bottom: 3rem;
}

.popbox .log-logo i {
  font-size: 6rem;
  color: orangered;
}

.popbox .log-btn {
  text-align: center;
}

.popbox .log-btn a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5em 0.8em;
  color: white;
  background-color: orangered;
  border-radius: 1rem;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: orangered;
  color: white;
  margin: 2rem auto;
  text-align: center;
}

.popbox .log-btn a:hover {
  background-color: #b93100;
}

.pop-active {
  top: 50%;
  visibility: visible;
  opacity: 1;
}

.black {
  visibility: hidden;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
}

.black-active {
  visibility: visible;
}
/*# sourceMappingURL=file.css.map */