@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}
body{
    position: relative;
}
@mixin container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
@mixin tran {
    transition: all 0.3s ease-in-out;
}
@mixin img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
@mixin btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 0.5em 0.8em;
    color: white;
    background-color: orangered;
    border-radius: 1rem;
    border: 1px solid transparent;
}
#navbar{
    z-index: 100;
    @include tran;
    position: fixed;
    width: 100%;
    height: 6rem;
    // background: rgba(0, 0, 0, 0.356);
    

    .nav-container{
        @include container;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        
        .logo , #nav-btn i{
            font-size: 3rem;
            color: white;
            cursor: pointer;
        }

        #nav-btn{
            display:none;
        }

        .nav-items{
            list-style: none;
            display: flex;
            flex-direction: row;
            @include tran;

            li{
                margin-left: 2rem;
                font-size: 1.5rem;
                text-transform: uppercase;
                &:hover a{
                    color: orangered;
                }
                
                a{
                    color: white;
                    @include tran;

                }
            }
        }
    }
}

#showcase{
    width: 100%;
    height: 100vh;
    position: relative;

    .img-con{
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;

        img{
            @include img;
            @include tran;
            animation: zoom 3s linear infinite ;
        }

        @keyframes zoom {
            0%{
                transform: scale(1.2);
            }
            15%{
                transform: scale(1);
            }
            85%{
                transform: scale(1);
            }
            100%{
                transform: scale(1.2);
            }


        }
    }
    .overlay{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.774);
        height: 100%;
        width: 100%;

        h2{
            font-size: 5rem;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.3rem;

            span{
                color: orangered;
                font-weight: 700;
                font-size: 6rem;
            }
        }
        .con{

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p{
                font-size: 2.5rem;
                color: white;
                text-transform: capitalize;
                margin-right: 0.5rem;
            }
            #line-change{
                white-space: nowrap;
                overflow: hidden;
                border-right: 2px solid orangered;
                color: orangered;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 2.5rem;
                width: 0ch;
                @include tran;
                animation: type 4s infinite forwards;
            }
            @keyframes type {
                0%{
                    width: 0ch;
                }
                50%{
                    width: 3.5ch;
                }
            }
        }
        
        a{
            @include btn;
            display:inline-block;
            margin-top: 2rem;
            margin-left: 1rem;
            @include tran;

            &:hover{
                background-color: transparent;
                border-color: white;
            }
        }

    }
}

.social-link{
    position: fixed;
    top: 35%;
    left: 0rem;
    // transform: translate(-50%,-50%);


    a{
        display: block;
        padding: 0.3em 0.6em;
        background: orangered;
        margin-bottom: 1rem;
        font-size: 3rem;
        border-radius: 1rem;
        @include tran;

        &:nth-child(1):hover{
            background-color: blue;
        }
        &:nth-child(2):hover{
            background-color: rgb(1, 1, 160);
        }
        &:nth-child(3):hover{
            background-color: rgb(6, 123, 233);
        }


        i{
            color: white;
            font-size: 3rem;
            opacity: 1;
        }
    }
    
}

.popbox{
    @include tran;
    opacity: 0;
    z-index: 500;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35rem;
    min-height: 50rem;
    height: auto;
    background-color: white;
    padding: 2rem;
    visibility: hidden;

    label{
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    input{
        display: block;
        outline: none;
        width: 100%;
        border: 1px solid orangered ;
        margin-bottom: 1rem;
        height: 4rem;
        padding: 0 1rem;
        border-radius: 1rem;
    }
    .log-logo{
        text-align: center;
        margin-bottom: 3rem;
        i{
            font-size: 6rem;
            color: orangered;
        }
    }
    .log-btn{
        text-align: center;
        a{
            display: inline-block;
            @include btn;
            @include tran;
            background-color: orangered;
            color: white;
            margin: 2rem auto;
            text-align: center;

            &:hover{
                background-color: rgb(185, 49, 0);
            }
        }
    }
}

.pop-active{
    top: 50%;
    visibility: visible;
    opacity: 1;
}

.black{
    visibility: hidden;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
}
.black-active{
    visibility: visible;
}